@import "Hud.scss";
@import "toolkit/Button.scss";

// TODO: make it adaptive

Menu
{
	position: absolute;
	left: 0;
	flex-direction: column;
	min-width: 48px;
	height: $height;
	backdrop-filter: blur(25px);
	background-image: url(/ui/np.panelgrain.png);
	background-color: rgba(255, 255, 255, 0.75);
	background-repeat: repeat;
	flex-grow: 0;

	transition: all 0.1s ease-in;
}

.navbaricon
{
	width: 48px;
	height: 48px;

	justify-content: flex-end;
	align-items: center;
	flex-direction: row-reverse;

	width: 100%;
	
	//overflow: hidden;
	//white-space: nowrap;
	//flex-wrap: nowrap;

	.marker
	{
		position: absolute;
		left: -1px;
		z-index: 100;
		background-color: $accent;
		height: 32px;
		width: 4px;

		pixel-snap: 1;

		opacity: 0;
		transform-origin-x: 0;
	}

	Image
	{
		width: 24px;
		height: 24px;

		margin-left: 10px;

		aspect-ratio: 1;
	}

	Label
	{
		font-size: 18px;
		padding-right: 10px;

		display: none;

		flex-grow: 1;

		white-space: nowrap;
		flex-wrap: nowrap;
	}

	&:active
	{
		.marker
		{
			transform: scale(0.9);
			background-color: $accent-d1;
		}
	}
}

.navbaricon.active
{
	.marker
	{
		opacity: 1;
	}
}

.unfold
{
	min-width: 128px;

	.navbaricon
	{
		Label
		{
			display: flex;
		}

		Image
		{
			margin-right: 12px;
		}
	}
}